{
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": { "node": 7 }
        }],
        "stage-0",
        "flow"
      ],
      "plugins": ["istanbul", "transform-decorators-legacy"]
    },
    "main": {
      "presets": [
        ["env", {
          "targets": { "node": 7 }
        }],
        "stage-0",
        "flow"
      ]
    },
    "renderer": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "electron": "1.8.0"
          }
        }],
        "stage-0",
        "flow"
      ],
      "plugins": ["transform-decorators-legacy"]
    },
    "web": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "electron": "1.8.0"
          }
        }],
        "stage-0",
        "flow"
      ],
      "plugins": ["transform-decorators-legacy"]
    }
  },
  "plugins": [
    "transform-decorators-legacy",
    "transform-vue-jsx",
    "transform-runtime"
  ]
}
