$primary-color = #292C33
$primary-color-light = #A2AABF
$primary-color-highlight = #409EFF

$menu-color-highlight = #e3f2fd

$danger-color = #F56C6C

$header-plank-height = 80px

$main-header-background = #f6f9fe

$main-board-background = darken(white, 0.9)

$grey100 = darken(white,2)
$grey200 = darken($grey100,3)
$grey300 = darken($grey100,6)
$grey400 = darken($grey100,9)

$text100 = #303133
$text200 = lighten($text100,20)
$text300 = lighten($text100,40)
$text400 = lighten($text100,60)

$padding-size = 10px

$footer-height = 30px

$green = #67C23A
$red =#F56C6C
